body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #425f8b, #030431);
}

header {
  text-align: center;
  padding: 20px;
  font-size: 350%;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(220, 222, 230, 0.5);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgba(220, 222, 230, 0.8);
  transform: scale(1.05);
}

.active {
  background-color: green;
  color: white;
}

.content {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.good {
  background: #a8e6cf;
}

.bad {
  background: #ffaaa5;
}

.glass {
  
  background: linear-gradient(60deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1));
  
  backdrop-filter: blur(10px);
  
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: transform 0.5s ease, background-color 0.5s ease;
}

.glass:hover {
  background: linear-gradient(60deg, rgba(255,255,255,0.35), rgba(255,255,255,0.15));
  transform: scale(1.05);
  backdrop-filter: blur(25px);
}

.piechart {
    border-radius: 50%;
}

.glass.active {
  background: linear-gradient(to right, rgb(14, 219, 106), rgb(136, 223, 118));
  transform: scale(1.2);
  backdrop-filter: blur(30px);
}