body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(2, 2, 29);
  align-content: center;
  justify-items: center;
}

header {
  text-align: center;
  padding-top: 20px;
  font-size: 350%;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: rgba(220, 222, 230, 0.5);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
  background-color: rgba(220, 222, 230, 0.8);
  transform: scale(1.05);
}

#barChartContainer {
  width: fit-content;
  margin: 0 auto;
  align-items: flex-end;
  display: flex;
  gap: 10px;
  padding: 20px;
}

.bar {
  margin: 0;
  width: 80px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  transition: transform 0.3s ease;
}

.bar:hover {
  transform: scale(1.05);
}

.bar span.label {
  display: inline-block;
  position: relative;
  top: 100%;
  font-size: 12px;
  transform: rotate(45deg);
}

.active {
  background-color: green;
  color: white;
}

.content {
  width: fit-content;
  margin: 15px auto;
  padding: 0px 0px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  color: rgb(255, 255, 255);
}

.info {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 20px;
  background: white;
  border-radius: 15px;
  color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.good {
  background: #a8e6cf;
}

.bad {
  background: #ffaaa5;
}

.glass {
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.glass:hover {
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  transform: scale(1.05);
  backdrop-filter: blur(25px);
}

.piechart {
  display: block;
  margin: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.piechart:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.glass.active {
  background: linear-gradient(to right, rgb(14, 219, 106), rgb(136, 223, 118));
  transform: scale(1.2);
  backdrop-filter: blur(30px);
}

.debug {
  outline: 1px solid red;
}

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  filter: blur(70px); /* DAS macht den Magic Effekt */
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.blob1 {
  background: #14bd1d;
  top: 50%;
  left: 40%;
}

.blob2 {
  background: #df380e;
  top: 10%;
  left: 10%;
}

.blob3 {
  background: #0c9dc9;
  top: 40%;
  left: 70%;
}

.anim1 {
  animation: move1 4s infinite alternate ease-in-out;
}

.anim2 {
  animation: move2 3s infinite alternate ease-in-out;
}

.anim3 {
  animation: move3 5.5s infinite alternate ease-in-out;
}

/* Animationen */

@keyframes move1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-15%, 15%); }
  100% { transform: translate(15%, -20%); }
}

@keyframes move2 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(15%, -10%); }
  100% { transform: translate(-20%, 15%); }
}

@keyframes move3 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(-5%, 10%); }
  100% { transform: translate(30%, -10%); }
}