.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  filter: blur(150px);
}

.blob {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  content: attr(data-test);
  animation:
   var(--anim1, move1) var(--anim1dur, 25s) infinite alternate cubic-bezier(.3, .1, .7, .9) var(--anim1del, 0s),
   var(--anim2, colors) var(--anim2dur, 20s) infinite alternate cubic-bezier(.65, 0, .35, 1) var(--anim2del, 0s);
}

@keyframes move1 {
  000% { transform: translate(-20vw, -30vh); }
  010% { transform: translate(0vw, -25vh); }
  020% { transform: translate(15vw, -30vh); }
  030% { transform: translate(20vw, -5vh); }
  040% { transform: translate(-10vw, 5vh); }
  050% { transform: translate(-20vw, 15vh); }
  060% { transform: translate(-40vw, 0vh); }
  070% { transform: translate(-15vw, 20vh); }
  080% { transform: translate(15vw, -7vh); }
  090% { transform: translate(30vw, 0vh); }
  100% { transform: translate(5vw, -20vh); }
}

@keyframes move2 {
  000% { transform: translate(-20vw, -30vh); }
  005% { transform: translate(0vw, -25vh); }
  010% { transform: translate(15vw, -30vh); }
  015% { transform: translate(20vw, -5vh); }
  020% { transform: translate(-10vw, 5vh); }
  025% { transform: translate(-20vw, 15vh); }
  030% { transform: translate(-40vw, 0vh); }
  035% { transform: translate(-15vw, 20vh); }
  040% { transform: translate(15vw, -7vh); }
  045% { transform: translate(30vw, 0vh); }
  050% { transform: translate(5vw, -20vh); }
  055% { transform: translate(-20vw, -30vh); }
  060% { transform: translate(0vw, -25vh); }
  065% { transform: translate(15vw, -30vh); }
  070% { transform: translate(20vw, -5vh); }
  075% { transform: translate(-10vw, 5vh); }
  080% { transform: translate(-20vw, 15vh); }
  085% { transform: translate(-40vw, 0vh); }
  090% { transform: translate(-15vw, 20vh); }
  095% { transform: translate(15vw, -7vh); }
  100% { transform: translate(30vw, 0vh); }
}

.rainbow {
  animation: colors var(--clength) infinite alternate linear;
  animation-delay: var(--d);
}

@keyframes colors {
  0% { background: #df380e;}
  20% { background: #df6c0e;}
  40% { background: #f0cd08; }
  60% { background: #14bd1d; }
  80% { background: #0c9dc9; }
  100% { background: #b510f7; }
}